<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" href="/styles/adminStyle.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
</head>
<body>



<div class="login-page">
  <div class="form">
    <form class="register-form" method="POST" action="/users">
      <input type="text" placeholder="username" name="username"/>
      <input type="password" placeholder="password" name="password"/>

      <button type="submit">Sign Up</button>
      <p class="message">Already registered? <a href="/admin/login">Sign In</a></p>
    </form>
  </div>
</div>


<script src="/scripts/adminScript.js"></script>
</body>
</html>
