<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" href="/styles/adminStyle.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
</head>
<body>



<div class="login-page">
  <div class="form">
    <form class="register-form" method="POST" action="/users">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password" name="password"/>
      <input type="text" placeholder="email address" name="email"/>
      <button type="submit">Sign Up</button>
      <p class="message">Already registered? <a href="/login">Sign In</a></p>
    </form>
  </div>
</div>


<script src="/scripts/adminScript.js"></script>
</body>
</html>
