<html>
<head>
    <meta charset="UTF-8">
    <title>Admin Home Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/styles/adminHomeStyle.css">
</head>
<body>

    <% if (user && user.username) { %>
    You're logged in as <%= user.username %>!</h2>
    <a href="/admin/logout" class="btn btn-default">Log Out</a>

    <div class="flexbox-container">
        <div>
            <form id="postData" action="">
                <label for="name">Name: </label>
                <input type="text" name="name">
                <label for="price">Price: </label>
                <input type="text" name="price">
                <input id="submitPost" type="submit" value="ADD ITEM">
            </form>

            <form id="deleteData" action="">
                <label for="delete" class="boldMe">Delete Item by ID: </label>
                <br>
                <input type="text" name="delete">
                <input id="submitDelete" type="submit" value="DELETE ITEM">
            </form>

            <form id="updateData" action="">
                <label for="update" class="boldMe">Update Item by ID: </label>
                <br>
                <label for="ID">Object ID: </label>
                <input type="text" id="getIdValue" name="deleteById">
                <br>
                <label for="name">Update Name: </label>
                <input type="text" id="getNameVal" name="name">
                <br>
                <label for="price">Update Price: </label>
                <input type="text" id="getPriceVal" name="price">
                <br>
                <input type="submit" id="submitUpdate" value="UPDATE ITEM">
            </form>
        </div>
        <div>
            <button id="getFirstItem" type="submit" >Get Items</button>
            <div class="itemList"></div>
        </div>
    </div>

    <% } else { %>
        You're not logged in. </h2>
        <a href="/admin/login">Log in</a>
    <% } %>




<script src="/scripts/adminScript.js"></script>
</body>
</html>
