<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GO-ceries Login</title>
    <link rel="stylesheet" href="/styles/loginstyle.css">
  </head>
  <body>
    <h1> GO-ceries login page </h1>
  </body>
</html>
