<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Go-ceries: Storefront </title>
	<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="scripts/storefront.js"></script>

	<link rel="stylesheet" href="styles/storefront.css" media="screen" />
</head>
<body>
	<h1> This is the storefront </h1>

	<header>
		<nav></nav>
	</header>
	<main>
		<form id="product-form" method="POST" action="">

				<div id="select-category">
					<h3>Category:</h3>
				</div>
				<hr>

				<section class="create-order">
				<div class="products">
					<h3>Products:</h3>
					<div id="select-products">

					</div>

				</div>
				<div class="cart">
					<h3>Cart:</h3>
					<div id="edit-cart">

					</div>
				</div>
			</section>
			<button id="submit-cart" class="submit-cart" value="Submit" >Submit</button>
		</form>

	</main>

	<footer>
	</footer>
</body>
</html>
