<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Go-ceries: Storefront </title>
	<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/scripts/storefront.js"></script>

	<link rel="stylesheet" href="/styles/storefront.css" media="screen" />
	<link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Roboto+Condensed:300,300i,400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>
    <% if (user && user.username) { %>
		<span id="user_id" style="display:none;"><%= user._id %></span>

		<header>
			<h1>Go-ceries</h1>
			<nav></nav>
		</header>
		<main>
			<section class="create-order">
				<div class="products">
					<div class="products-title"><h3>Products</h3><select id="select-category">
						<option value="">All Categories</option>
					</select></div>
					<div id="select-products">

					</div>

				</div>
				<div class="cart">
					<h3>Cart</h3>
					<div id="edit-cart">
						<p>Welcome back, <b><%= user.firstName %> <%= user.lastName %></b>!
							[ <a href="/home/logout">Log Out</a> ]
							<hr/>Any items that you wish to purchase will be displayed below. Have fun!</p>
					</div>
					<hr/>
					<div class="cart-totals">
						<div><span class="sub-total">Subtotal +</span> <span id="sub-total-value">0.00</span></div>
						<div><span class="tax-total">Tax (8.25%) =</span> <span id="tax-total-value">0.00</span></div>
						<div><span class="order-total">Order Total</span> <span id="order-total-value">0.00</span></div>
					</div>
					<button id="submit-cart" class="submit-cart">Complete Order</button>

				</div>
			</section>

		</main>

	<footer>
	<div class="footer">
		<p> Made with ♡ at GA </p>
		<p> Website created by <a href="https://github.com/mattray0295" target="_blank">Matt Ray,</a> <a href="https://linkedin.com/in/jaylara1" target="_blank">Jay Lara,</a> <a href="https://github.com/tangjames" target="_blank">James Tang.</a>
		<p> Use of this site constitutes acceptance of our User Agreement and Privacy Policy. © 2017 GO-ceries inc. All rights reserved.
				GO-CERIES and the GO-CERIES Logo are registered trademarks of GO-CERIES inc. </p>
	</div>
	</footer>
    <% } else { %>
		<header>
			<h1>Go-ceries</h1>

	        <h2>You're not logged in. </h2>
	        <h2> [ <a href="/home/login">Log In</a>] </h2>
		</header>
		<main>
    <% } %>
</body>
</html>
